Repository datakind/Mar21-housing-insecurity, pull requests merged in 2021-03, with the labels that each got.

#3 Add Data Viz Dockefile
  .gitignore
  docker/Jupyter/Dockerfile
  docker/Jupyter/examples/getting_started.ipynb
  docker/getting-started.md
Labels: documentation

#8 Add new GIS Primer
  documentation/getting-started-docker.md
Labels: documentation

#19 modified script
  scripts/_duttashi/nyc_acs_census_and_evictions_geocoded_exploratory_data_analysis.R
Labels: analysis/eda, nyc

#21 script for dimensionality reduction and upload cleaned dataset
  data/_volunteer_created_datasets/_duttashi/df_raw_nycacs_evict_impvars.csv
  data/_volunteer_created_datasets/_duttashi/df_raw_nycacs_evict_impvars_brooklyn.csv
  data/_volunteer_created_datasets/_duttashi/df_raw_nycacs_evict_impvars_queens.csv
  scripts/_duttashi/nyc_acs_census_and_evictions_feature_extraction.R
Labels: analysis/eda, nyc

#22 create documentation for data analysis findings
  documentation/Reporting_EDA_and_Dimensionality_Reduction_Findings_for_data_files_nyc_acs-2018-census_and_nyc_evictions_geocoded.md
  documentation/Rplot-1.png
Labels: documentation, nyc

#23 fixed markdown table rendering
  documentation/Reporting_EDA_and_Dimensionality_Reduction_Findings_for_data_files_nyc_acs-2018-census_and_nyc_evictions_geocoded.md
Labels: documentation

#25 NYC Evictions Total
  scripts/_mide/NYC_Total_Evictions_Percent_Change.ipynb
Labels: analysis/eda, nyc

#28 Created a few dash visualizations apps
  scripts/_dgillen/hi_census.py
Labels: visualization

#37 create script for cleaning the tax_lien_sale_list data
  scripts/_duttashi/eda_tax_lien_sale_list.R
  scripts/_duttashi/nyc_acs_census_and_evictions_geocoded_exploratory_data_analysis.R
Labels: analysis/eda, nyc
